.table > tbody > tr > td,
.table > tbody > tr > th {
  border-top: none;
  border-bottom-width: 50px;
}

.table {
  border-collapse: collapse;
  border-bottom-width: 50px;
}
.course {
  text-align: left;
  font-style: oblique;
  font-weight: bolder;
}

.school {
  text-align: left;

  font-style: italic;
  font-weight: lighter;
}

.period {
  text-align: left;
  font-style: oblique;
  font-weight: bolder;
}

.opmerking {
  text-align: left;

  font-style: oblique;
  font-weight: lighter;
}
