<!-- Page Content  -->
<div id="content">
  <!---------------------------------------------------
    Navbar Top
------------------------------------------------------>

  <app-navbar-top></app-navbar-top>

  <!---------------------------------------------------
    About Me
------------------------------------------------------>

 

 

  <app-aboutme></app-aboutme>

  <!---------------------------------------------------
    Education
------------------------------------------------------>
  


  <app-education></app-education>
  <!---------------------------------------------------
    Experience
------------------------------------------------------>

  
  
  <app-experience></app-experience>

  <!---------------------------------------------------
    Contact me
------------------------------------------------------>



  <app-contact></app-contact>

</div>
