<br />

<div id="experience">
  <h2>Experience</h2>
  <table class="table">
    <tbody *ngFor="let experience of experiences">
      <tr>
        <th class="period">{{experience.periode}}</th>
        <th class="course">{{experience.functie}}</th>
      </tr>
      <tr>
        <td></td>
        <td class="school">{{experience.werkgever}}</td>
      </tr>
      <tr>
        <td></td>
        <td class="opmerking">{{experience.taakbeschrijving_1}}</td>
      </tr>
    </tbody>
  </table>
</div>

<br />
