<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Meert David</h3>
  </div>

  <ul class="list-unstyled components">
    <img
      src="https://stackblitz.com/files/angular-ivy-pp59kn/github/MeertDavid/angular-ivy-pp59kn/master/src/20200907_115002.jpg"
      class="img-fluid profile_pic"
      alt="Responsive image"
    />

    <li class="active">
      <a class="mousepointer" (click)='scroll("aboutme")'>About Me</a>
    </li>

    <li>
      <a class="mousepointer" (click)='scroll("education")'>Education</a>
    </li>
    <li>
      <a class="mousepointer" (click)='scroll("experience")'>Experience</a>
    </li>
    <li>
      <a class="mousepointer" (click)='scroll("contact")'>Contact</a>
    </li>
    <li>
      <a class="mousepointer" (click)='scroll("references")'>References</a>
    </li>
  </ul>
</nav>
