<!-- Sidebar  -->

<div id="profile">
  <img
    src="https://stackblitz.com/files/angular-ivy-pp59kn/github/MeertDavid/angular-ivy-pp59kn/master/src/20200907_115002.jpg"
    class="img-fluid profile_pic"
    alt="Responsive image"
  />
  <h3 id="name">Meert David</h3>
</div>

<div id="sidebar_list">
  <ul class="list-unstyled ">
    <li class="active">
      <a class="mousepointer" (click)='scroll("aboutme")'>About Me</a>
    </li>

    <li>
      <a class="mousepointer" (click)='scroll("education")'>Education</a>
    </li>
    <li>
      <a class="mousepointer" (click)='scroll("experience")'>Experience</a>
    </li>
    <li>
      <a class="mousepointer" (click)='scroll("contact")'>Contact</a>
    </li>
    <li>
      <a class="mousepointer" (click)='scroll("references")'>References</a>
    </li>
    <li>
      <a routerLink="/single-page-resume">Single page resume</a>
    </li>
  </ul>
</div>

<div class="social-buttons">
  <ul class="list-unstyled ">
    <li>
      <a href="https://www.facebook.com/david.meert.1"
        ><i class=" fab fa-facebook"></i
      ></a>
    </li>

    <li>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </li>
  </ul>
</div>
